.red{
    width: 15px;
    height: 10px;
    background-color: red;
}
.orange{
    width: 25px;
    height: 5px;
    background-color: orange;
}
.yellow{
    width:35px;
    height: 10px;
    background-color:yellow;
}
.green{
    width:45px;
    height: 5px;
    background-color:green;
}
.light-blue{
    width:55px;
    height: 10px;
    background-color:skyblue;
}
.blue{
    width:65px;
    height: 5px;
    background-color:blue;
}
.purple{
    width:75px;
    height: 10px;
    background-color:purple;
}